body {
	background-color: black;
}

h1 {
	text-align: center;
	font-family: Impact;
	font-size: 48;
	color: rgb(0, 160, 3);
	text-shadow: rgb(185, 8, 243) -1px -2px 0.5em;
}

.littlebox {
	padding: 5px;
	border: 1px solid grey;
	height: 120;
	width: 173;
	margin-top: 50px;
	font-size: 24;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
  
}

.littlebox a {
	color: grey;
	text-decoration: none;
}

.open {
	color: white !important;
}

.bigbox {
	padding: 10px;
	border: 1px solid grey;
	margin: 200px;
	margin-top: 50px;
	font-size: 24;
	color: grey;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
  
}

.bigbox p {
	margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
  
}

.ccb {
	border: 1px solid grey;
	position: absolute;
	left: 370;
	top: 93;
	font-size: 24;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
  
}

.center {
	text-align: center;
	margin: auto;
}

.red {
	color: red;
	margin: 0px;
	text-decoration: none;
}

.grey {
	color: grey;
	margin: 0px;
	text-decoration: none;
}

.orange {
	color: orange;
	margin: 0px;
	text-decoration: none;
}

.green {
	color: green;
	margin: 0px;
	text-decoration: none;
}

.ccb2 {
	width: 171px;
	border: 1px solid grey;
	position: absolute;
	top: 349px;
	font-size: 24;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
	color: grey;
}

.progress {
	width: 100%;
	background-color: grey;
	border-radius: 20px;
}

.nes {
	width: 4%;
	height: 30px;
	background-color: rgb(0, 160, 3);
	border-radius: 20px;
	color: white;
}

.snes {
	width: 2%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.n64 {
	width: 0%;
	height: 30px;
	background-color: rgb(0, 160, 3);
	border-radius: 20px;
	color: white;
}

.gba {
	width: 0%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.gbc {
	width: 0%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.fds {
	width: 0%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.border {
	border: 1px solid grey;
	position: absolute;
	width: 293;
	height: 401;
	top: 33px;
	border-radius: 2px;
}
.resize {
	width:292px;
	height:400px;
}

.center {
    display: block;
    margin: 0 auto;
}

.description {
	top: 75;
	left: 450;
	position: absolute;
	border: 1px solid grey;
	padding: 5px;
	padding-bottom: 5px;
	padding-top: 0px;
	font-size: 16px;
	width: 200;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
}

.gtitle {
	margin: 0px;
	color: white;
	text-align: center;
}

.bigbox2 {
	padding: 10px;
	border: 1px solid grey;
	margin: 200px;
	margin-top: 50px;
	position: absolute;
	height: 450;
	width: 933;
	font-size: 24;
	color: grey;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
  
}
	
a:hover {
   color:  #e6e6e6;
}

.TOC {
	text-align: center;
}

.TOC a{
	text-decoration: none;
	color: white;

}

.centerr {
	text-align: center;
	color: grey;

}

.roms a:hover{
	color: grey;
}

#thank {
	border: 1px solid grey;
	box-shadow: -1px 1px 18px #c706b9;
	border-radius: 10px;
	text-align: center;
	position: fixed;
	z-index: 1;
	font-size: 24;
	color: grey;
	background-color: black;
	left: 350;
	width: 674;
}

.bigbox3 {
	padding: 10px;
	border: 1px solid grey;
	margin: 200px;
	margin-top: 50px;
	font-size: 24;
	color: grey;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
  
}

.bigbox3 p {
	margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
  
}

.bigbox3 a {
    text-align: center;
  
}

.littlebox2 {
	padding: 5px;
	border: 1px solid grey;
	height: 120;
	width: 173;
	margin-top: 50px;
	font-size: 24;
	box-shadow: -1px 1px 18px #c706b9;
    border-radius: 10px;
  }

 input[type="text"] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	background-color: grey;
	border-radius: 10px;
}

button {
	background-color: grey;
	border-radius: 20px;
	height: 40px;
	width: 40px;
}

::placeholder {
	color: white;
}

.search {
	position: absolute;
	left: 850px;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}
ul {
	list-style-type: none;
	padding: 0;
}
