body {
  background: #151728;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #666B7A;

}

.barheaders {
	color: white;
	font-size: 30px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #666B7A;
  text-align: center;
  margin-top: 0px;
}

.flex-box {
  display: flex;
  justify-content: center;
}

.leftbar {
  border: 4px solid #666B7A;
  border-radius: 10px;
  width: 215px;
  height: 500px;
  padding: 10px;
  margin-right: 10px;
}

.rightbar {
  border: 4px solid #666B7A;
  border-radius: 10px;
  width: 215px;
  height: 500px;
  padding: 10px;
  margin-left: 10px;
}

.bigbox {
  border: 4px solid #666B7A;
  background: #151728;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  padding: 10px;
  text-align: center;
}

.bigbox a {
	margin-right: 20px;
}

.contributer {
	max-width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contribimg {
	border: 2px solid cyan;
	border-radius: 50%;
	max-width: 100%;
   max-height: 100%;
   margin: 20px;
}

.contribuser {
	font-size: 20px;
	color: #9c9cab;
}

.menu {
	text-align: left;
}

.list {
	text-align: left;
}

.list span {
	border-bottom: 1px solid grey;
}


.menu-item {
	display: flex;
	align-items: center;
}

.menu-item a {
	color: #666B7A;
	font-size: 20px;
}

.menu-item a:hover {
	color: darkgrey;

}

.error {
	height: 50px;
}

.error-menu {
  border: 4px solid #666B7A;
  background: #151728;
  border-radius: 10px;
  width: 550px;
  height: 25px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.ccb {
	text-align: left;
}

.error-menu a {
	margin-left: 10px;
	margin-right: 10px;
}

.error-menu a:hover {
	color: darkgrey;
	border-bottom: 2px solid white;
}

p, span{
  color: #9c9cab;
  font-size: 20px;
  margin: 0px;
}

hr {
  border-color: #666B7A;
}

a {
	text-decoration: none;
	color: #9c9cab;
	font-size: 20px;
}

i {
   color: #666B7A;
}

ul {
	padding: 20px;
}

li {
	color: #666B7A;
}

.awesome {
	margin: 5px;
}

.partialdone {
	color: orange;
}

.notdone {
	color: red;
}

.done {
	color: #6CC417;
}

.bigbox a:hover {
	color: darkgrey;
}

.reccomended {
	color: #186BC4;
}