body {
	background-color: black;
}

h1 {
	text-align: center;
	font-family: Impact;
	font-size: 48;
	color: rgb(0, 160, 3);
}

.littlebox {
	padding: 5px;
	border: 1px solid grey;
	height: 120;
	width: 173;
	margin-top: 50px;
	font-size: 24;
}

.littlebox a {
	color: grey;
	text-decoration: none;
}

.open {
	color: white !important;
}

.bigbox {
	padding: 10px;
	border: 1px solid grey;
	margin: 200px;
	margin-top: 50px;
	font-size: 24;
	color: grey;
}

.bigbox p {
	margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.ccb {
	border: 1px solid grey;
	position: absolute;
	left: 375;
	top: 93;
	font-size: 24;
}

.center {
	text-align: center;
	margin: auto;
}

.red {
	color: red;
	margin: 0px;
	text-decoration: none;
}

.grey {
	color: grey;
	margin: 0px;
	text-decoration: none;
}

.orange {
	color: orange;
	margin: 0px;
	text-decoration: none;
}

.green {
	color: green;
	margin: 0px;
	text-decoration: none;

}

.ccb2 {
	width: 171px;
	border: 1px solid grey;
	position: justify;
	top: 288;
	font-size: 24;
}

.progress {
	width: 100%;
	background-color: grey;
	border-radius: 20px;
}

.nes {
	width: 15%;
	height: 30px;
	background-color: rgb(0, 160, 3);
	border-radius: 20px;
	color: white;
}

.snes {
	width: 2%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.n64 {
	width: 0%;
	height: 30px;
	background-color: rgb(0, 160, 3);
	border-radius: 20px;
	color: white;
}

.gba {
	width: 0%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.gbc {
	width: 0%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.fds {
	width: 0%;
	height: 30px;
	border-radius: 20px;
	background-color: rgb(0, 160, 3);
	color: white;
}

.border {
	border: 1px solid grey;
	position: absolute;
	width: 293;
	height: 401;
}

.center {
    display: block;
    margin: 0 auto;
}

.description {
	top: 400;
	left: 900;
	position: absolute;
	border: 1px solid grey;
	padding: 5px;
	padding-bottom: 5px;
	padding-top: 0px;
	font-size: 16px;
}

.gtitle {
	margin: 0px;
	color: white;
	text-align: center;
}

.bigbox2 {
	padding: 10px;
	border: 1px solid grey;
	margin: 200px;
	margin-top: 50px;
	position: absolute;
	height: 450;
	width: 933;
	font-size: 24;
	color: grey;
}
	



